rules_version = '2';

service firebase.storage {

  function isAuthenticated() {
    return request.auth != null;
  }

  function isCurrentUser(uid) {
    return isAuthenticated() && request.auth.uid == uid;
  }

  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }
  }
}
